/* fieldset{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px 0;
    border: 2px solid #2870bdda;
    border-radius: 5px;

}
fieldset .menu-state{
    margin-bottom: 30px;
} */