table{
    width: 100%;
    margin: 0 auto 30px;
    border-collapse: collapse;
    border-radius:  5px;
    box-shadow: -1px 2px 12px 2px rgb(195, 193, 193);
    overflow: hidden;
}
thead tr th{
    background-color: #227690e3;
    height: 40px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.icon-sort-up{
    font-size: 13px;
    line-height: 1;
    cursor: pointer;
    padding-left: 5px;
}
.icon-sort-down{
    font-size: 13px;
    line-height: 1;
    cursor: pointer;
}
tbody tr td{
    height: 35px;
    font-size: 14px;
    color: rgb(66, 62, 62);
    text-align: center;
}
tbody tr:nth-child(even) td{
    background-color: #0cb9ee32;
}
.no-result-of-search{
    background-color: #0cb9ee1e;
}
.no-result-of-search tbody tr td{
    background-color: transparent;

}
.pagination{
    display: flex;
    justify-content: space-between;
}
.pagination-left{
    display: flex;
    justify-content: flex-end;
}
.pagination-left button{
    width: 35px;
    height: 25px;
    margin-left: 5px;
    cursor: pointer;
}
.pagination-left button.actived{
    background: #227690e3;
    color: white;
    border: none;
    border-radius: 2px;
} 
.pagination-right{
    font-size: 14px;
    margin-bottom: 20px;
}